body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	text-decoration: none;
	color: black;
}
a:visited {
	color: black;
}
hr {
	border-top: 1px solid #828282;
}
.profile__detailheader {
	font-weight: bold;
}
/* .demo-wrapper {
	width: 100%;
} */
.demo-editor {
	/* height: 80%; */
	padding: 0 1.5em;
}
